@model IEnumerable<CureSort2.Models.Bin>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Code
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InUse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BinNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InUse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BinID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BinID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BinID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
